@media all and (max-width: 768px) {
  .el-header .icon-meun {
    display: block;
  }
  .el-header .menu {
    justify-content: space-between;
  }
  .el-footer .footer {
    display: block;
  }
  .el-footer .footer a {
    margin-right: 20px;
  }
  .home .data {
    padding: 0;
    margin: 0;
  }
  .home .data ul {
    box-shadow: 0 5px 5px 0 rgba(203, 208, 228, 0.2) inset;
    display: block;
  }
  .home .banner {
    display: none;
  }
  .detail-info {
    padding: 10px 20px;
    margin: 0 5px;
  }
  .detail-info li span {
    width: 20%;
  }
  .detail-info li p {
    width: 60%;
  }
  .summary {
    padding: 10px 20px;
    margin: 0 5px;
  }
}
@media all and (max-width: 850px) {
  .home .data ul li img {
    margin-right: 10px;
  }
}
