@media all and (max-width: 768px) {
  .el-header .icon-meun{
    display: block;
  }
  .el-header .menu{
    justify-content: space-between;
  }
  .el-footer .footer{
    display: block;
    a{
      margin-right: 20px;
    }
  }
  .home .data{
    padding: 40px 20px;
    ul{
      display: block;
    }
  }
}
@media all and (max-width: 850px) {
  .home .data ul li img{
    margin-right: 10px;
  }
}
