body{
  margin: 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgbg{
  background-size: cover;
  background-position: center;
}
.el-table::before{
  display: none;
}
.title{
  margin: 70px 0 20px 0;
  height: 64px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-size: 30px;
    color: #4C5155;
    line-height: 35px;
    font-weight: 600;
  }
  a{
    display: block;
    width: 80px;
    line-height: 32px;
    text-align: center;
    background: #F5F6FA;
    border-radius: 4px;
    color: #1B76FF;
    font-size: 14px;
  }
  a:hover{
    color: #fff;
    background: #1B76FF;
  }
}
.table-box{
  width: 100%;
  overflow: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
input::-webkit-input-placeholder{
  color: #C5C7CB;
  font-size: 14px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff  inset;
}
.el-header,.el-footer,.el-main{
  padding: 0;
}
.el-header{
  padding: 0 15px;
  box-shadow: 0 1px 9px 0 rgba(203,208,228,0.2);
  .logo-img{
    width: 140px;
    height: 20px;
    margin: 20px 0 16px 0;
  }
  .icon-meun{
    font-size: 20px;
    color: #666;
    cursor: pointer;
    display: none;
  }
  .search-box{
    height: 41px;
    margin: 9px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(216,216,216,0.4);
    input{
      width: 86%;
      border: none;
      height: 36px;
    }
    input:focus{
      outline: none;
    }
    button{
      width: 36px;
      height: 24px;
      background-size: cover;
      border: none;
      border-radius: 4px;
      background-image: url("/static/img/icon_search.png");
    }
    button:hover{
      background-image: url("/static/img/icon_search_hover.png");
    }
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 60px;
    ul{
      box-shadow: 0 0 36px rgba(203,208,228,0.8);
      background: #fff;
      li{
        line-height: 40px;
        cursor: pointer;
        padding-left: 15px;
      }
    }
    span,.wallet a{
      color: #A0A6C8;
      cursor: pointer;
      font-size: 14px;
    }
    .iconfont{
      font-size: 6px;
      color: #A0A6C8;
    }
    .item{
      padding: 0 12px;
    }
    a{
      text-decoration: none;
      color: #4C5155;
      font-size: 14px;
      display: block;
      line-height: 40px;
    }
    .tools{
      position: relative;
      .tools-list{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 20;
        min-width: 160px;
        padding-top: 10px;
      }
      ul{
        li:hover{
          background: #CACEE5;
          a{
            color: #fff;
          }
        }
      }
    }
    .tools:hover{
      .tools-list{
        display: block;
      }
      .iconfont{
        transform: rotate(180deg);
      }
    }
    .language{
      position: relative;
      img{
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
      }
      .language-list{
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        min-width: 130px;
        padding-top: 10px;
      }
      ul{
        li{
          img{
            width: 24px;
            height: 20px;
            vertical-align: middle;
            margin-right: 5px;
          }
          span{
            vertical-align: middle;
          }
        }
        li:hover{
          background: #CACEE5;
          span{
            color: #fff;
          }
        }
      }
    }
    .language:hover{
      .language-list{
        display: block;
      }
    }
  }
}
.el-footer{
  background: #f1f5f8;
  color: #C5C7CB;
  padding: 0 15px;
  margin-top: 168px;
  .nav{
    margin: 10px 0;
    white-space: nowrap;
  }
  a{
    color: #BBC1D3;
    font-size: 36px;
    margin-right: 50px;
  }
  a:last-child{
    margin-right: 0;
  }
  .wx{
    color: #A0A6C8;
  }
  ul{
    li{
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }
    li:last-child{
      margin-bottom: 0;
    }
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    .copyright{
      font-size: 14px;
    }
  }
  .footer:first-child{
    border-bottom: 1px solid #E0E0E0;
    padding: 40px 0;
  }
}
.home{
  overflow-y: hidden;
  .banner{
    text-align: center;
    .logo{
      margin: 134px 0 36px;
      width: 368px;
      max-width: 100%;
    }
    p{
      margin: 0;
      color: #A0A6C8;
      line-height: 21px;
      font-size: 18px;
    }
    div{
      height: 300px;
      background-image: url("/static/img/banner.png");
    }
  }
  .data{
    background: #fff;
    margin: -50px auto 0 auto;
    box-shadow: 0 1px 9px 0 rgba(203,208,228,0.2);
    border-radius: 4px;
    padding: 50px 55px;
    box-sizing: border-box;
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          margin-right: 30px;
        }
        h5{
          color: #C5C7CB;
          margin: 0 0 25px 0;
          font-weight: 500;
          line-height: 18px;
          font-size: 16px;
        }
        p{
          color: #4C5155;
          margin: 0;
          line-height: 30px;
          font-size: 26px;
        }
      }
      li:after{
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
