body{
  margin: 0;
}
button{
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgbg{
  background-size: cover;
  background-position: center;
}
input::-webkit-input-placeholder{
  color: #C5C7CB;
  font-size: 14px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff  inset;
}
